* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D2E9E9; 
    color: #000000; /* Text color */
}

header {
    background-color: #c4dfdf;
    color: #191919;
    padding: 20px 0;
    text-align: center;
}

header nav a {
    color: #000;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

footer {
    background-color: #D2E9E9;
    color: #000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
